/* Make HTML & Body full-screen */

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


/* Full-screen map */

#mapWrapper {
    height: 100%;
    width: 100%;
}


/* Ensures Leaflet map conforms to wrapper */

#map {
    height: 100%;
}


/* Zoom to Full / Reset Zoom button */

#zoomFullButton {
    position: absolute;
    top: 80px;
    left: 10px;
    height: 34px;
    width: 34px;
    z-index: 500;
    background-color: white;
    border: 1.9px solid rgb(190, 190, 190);
    border-radius: 4px;
    cursor: pointer;
}

#zoomFullButton .glyphicon-globe {
    font-size: 24px;
    padding-top: 2px;
    padding-left: 3px
}

#zoomFullButton:hover {
    background-color: rgb(240, 240, 240)
}


/* The Explore a City button*/

#exploreCityWrapper {
    position: absolute;
    bottom: 12px;
    left: 10px;
    z-index: 500;
}

#exploreCityWrapper .dropdown-menu {
    max-height: 190px;
    overflow-y: scroll;
    min-width: 168px
}

#cityList {
    margin: 0;
    padding: 5px 12px;
}

.cityListItem {
    list-style: none;
    padding-bottom: 5px;
    cursor: pointer;
}

#exploreCityWrapper button {
    background-color: white;
    border: 1.9px solid rgb(190, 190, 190);
    border-radius: 4px;
}


/* Title & subtitle */

#titleBreak {
    font: 13px/15px Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
    position: absolute;
    width: 20px;
    left: 50%;
    margin-top: 44px;
    z-index: 500;
    margin-left: -10px;
}

#titleJunco {
    position: fixed;
    width: 300px;
    top: 10px;
    right: 50%;
    padding-right: 20px;
    z-index: 500;
}

#titlePicJunco {
    z-index: 500;
    width: 100px;
    position: absolute;
    top: 10px;
    right: 50%;
    margin-right: 180px
}

#titleTextJunco {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

#title1Junco {
    font-size: 16px;
}

#title2Junco {
    font: 42px/46px Arial, Helvetica, sans-serif;
    color: #0570b0
}

#titleTanager {
    position: fixed;
    width: 300px;
    top: 10px;
    left: 50%;
    padding-left: 20px;
    z-index: 500;
}

#titlePicTanager {
    z-index: 500;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: 230px
}

#titleTextTanager {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#title1Tanager {
    font-size: 16px;
}

#title2Tanager {
    font: 42px/46px Arial, Helvetica, sans-serif;
    color: #de2d26;
}

#subTitle {
    font: 13px/15px Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    position: absolute;
    width: 300px;
    left: 50%;
    margin-top: 70px;
    z-index: 500;
    margin-left: -150px;
    text-shadow: 0px 0px 2px white, 0px 0px 4px white, 0px 0px 6px white;
}


/* Timeslider & buttons */

#timeSliderWrapper {
    position: absolute;
    width: 500px;
    margin-left: -233px;
    top: 78px;
    left: 50%;
    padding: 15px;
    z-index: 500;
}

#play {
    margin-bottom: 15px;
    margin-right: 10px;
    background-color: #dddddd;
}

#stop {
    margin-bottom: 15px;
    margin-right: 10px;
    background-color: #dddddd;
    display: none;
}

.skip {
    background-color: #dddddd;
    display: inline-block;
    /*    margin: 0 10px;*/
}

#forward {
    margin-left: 10px;
    margin-bottom: 15px
}

#reverse {
    margin-right: 10px;
    margin-bottom: 15px
}

#range-slider-wrapper {
    display: inline-block;
    padding: 5px 12px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-left: 7px solid #0570b0;
    border-right: 7px solid #de2d26
}

#range-slider {
    width: 200px;
}

#monthIndicator {
    display: inline-block;
    font-size: 28px;
    font: 28px/32px Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-left: 5px
}


/* Legend area */

#birdLegend {
    z-index: 500;
    position: absolute;
    bottom: 25px;
    right: 10px;
    height: 180px;
    width: 280px;
    padding: 6px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(239, 239, 239, 0.8);
    /*    background: #efefef;*/
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#legendTitle {
    text-align: center;
    margin-top: 2px;
    /*    font-variant: small-caps;
    */
}

#legendMonth {
    display: inline-block;
    width: 30px
}

#legendJuncoColor {
    color: #0570b0
}

#legendTanagerColor {
    color: #de2d26
}

#symbolsContainer {
    float: left;
}

.legendCircle1 {
    position: absolute;
    bottom: 12px;
    left: 13px;
    border-radius: 50%;
    border: 3px solid #6b6b6d;
    background: #d0cfd4;
    display: inline-block;
    width: 106px;
    height: 106px;
}

.legendCircle2 {
    position: absolute;
    bottom: 12px;
    left: 39px;
    border-radius: 50%;
    border: 3px solid #6b6b6d;
    background: #d0cfd4;
    width: 53px;
    height: 53px;
}

.legendCircle3 {
    position: absolute;
    bottom: 13px;
    left: 61px;
    border-radius: 50%;
    border: 3px solid #6b6b6d;
    background: #6b6b6d;
    width: 10px;
    height: 10px;
    /*    margin-left: -40px*/
}

#legendValuesWrapper {
    position: absolute;
    bottom: 14px;
    right: 13px;
    text-align: right;
}

#legendValuesWrapper div {
    padding-top: 33px
}


/* Hotspot legend (appears when zoomed in) */

#hotspotLegend {
    z-index: 500;
    position: absolute;
    bottom: 25px;
    right: 10px;
    height: 165px;
    width: 220px;
    padding: 6px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(239, 239, 239, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
}

#hotspot_legendTitle {
    text-align: center;
    margin-top: 2px;
}

#hotspot_symbolsContainer {
    float: left;
}

.hotspot_legendCircle1 {
    position: absolute;
    bottom: 88px;
    left: 16px;
    border-radius: 50%;
    border: 2px solid black;
    background: #756bb1;
    width: 26px;
    height: 26px;
}

.hotspot_legendCircle2 {
    position: absolute;
    bottom: 50px;
    left: 16px;
    border-radius: 50%;
    border: 2px solid black;
    background: #bcbddc;
    width: 26px;
    height: 26px;
}

.hotspot_legendCircle3 {
    position: absolute;
    bottom: 12px;
    left: 16px;
    border-radius: 50%;
    border: 2px solid black;
    background: #efedf5;
    width: 26px;
    height: 26px;
}

#hotspot_legendValuesWrapper {
    position: absolute;
    bottom: 12px;
    right: 13px;
    text-align: right;
}

#hotspot_legendValuesWrapper div {
    padding-top: 22px
}

#explorePopupButtonWrapper {
    margin-top: 10px;
    width: 150px;
    text-align: center;
}

.explorePopupButton {
    padding: 3px 9px !important;
    font-size: 12px !important;
}


/* About Map */

#aboutMap {
    cursor: pointer;
}

#aboutMapTop {
    cursor: pointer;
    position: absolute;
    z-index: 500;
    top: 10px;
    right: 10px;
}

#aboutMapTop a {
    font-size: 20px
}

#aboutMapUnderlay {
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.66);
    display: none;
}

#aboutMapOverlay {
    font-size: 14px;
    text-align: justify;
    position: absolute;
    width: 500px;
    height: 800px;
    max-height: 80%;
    top: 40px;
    left: 50%;
    margin-left: -250px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    padding: 40px;
    overflow-y: scroll;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 5px 1px #888;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    display: none;
}

#aboutMapOverlayX {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}
